img{
  height: 40vh;
  width: 70vh;
}

body{
  background-image: linear-gradient(to right,purple,red);
}


.homeContainer {
  background-color: #f0f8ff; /* Light blue background */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}
